[env:wemos_d1_mini32]
; Place Wi‑Fi credentials here. This file is an example; copy it to
; wifi_secrets.ini and edit values. That file should be git‑ignored.
;
; Use single quotes around the entire -D flag to preserve spaces.
; The inner value is double‑quoted to be seen as a C string literal.

build_flags =
  '-D WIFI_SSID="Your SSID"'
  '-D WIFI_PASS="Your Password"'
